.schedules-container {
  min-height: 100%;
  
  .schedules-heading {
    font-weight: 300;
    font-size: 32px;
  }

  .no-schedules-container  {
    .no-schedules-text {
      font-size: 20px;
    }
  }
}