.accordion {
  .accordion-collapse {
    .accordion-body {
      table {
        tbody {
          tr {
            &:last-child {
              td {
                border: none;
              }
            }

            input:disabled {
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}