.accordion {
  .accordion-item {
    .accordion-header {
      .accordion-button {
        box-shadow: none;

        &::after {
          display: none;
        }
      }
    }

    .accordion-collapse {
      border-top: 1px solid rgb(222, 226, 230);

      .accordion-body {
        table {
          table-layout: fixed;

          tbody {
            tr {
              &:last-child {
                td {
                  border: none;
                }
              }

              input:disabled {
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }
}