$scenario-card-gutter: 16px;

.dashboard-container {
  .dashboard-heading {
    font-weight: 300;
    font-size: 32px;
  }

  .user-scenario-container {
    .scenario-grid-container {
      .scenario-grid-wrapper {
        gap: $scenario-card-gutter;

        .scenario-card {
          width: calc((100% - #{$scenario-card-gutter} * 3)/4);

          .scenario-card-body {
            .scenario-actions {
              border: 1px solid #f0f0f0;
            }
          }
        }
      }
    }
  }
}