@use './variables' as *;

.default-layout-container {
  min-height: 100vh;

  .header-container {
    height: $header-height;
    background-color: #F9F9F9;
    box-shadow: 0px 2px 6px 0px #0000001A;
    z-index: 9;

    .header-logo {
      height: 40px;
    }

    .header-menu-button {
      border: none;
      background: none;

      .menu-button-icon {
        color: #195F8A;
        font-size: 24px;
      }
    }

    .header-logout-button {
      border: none;
      background: none;

      .logout-button-icon {
        color: #ff4d4f;
        font-size: 24px;
      }
    }

    .menu-profile-icon {
      color: #195F8A;
      font-size: 24px;
    }
  }

  .body-container {
    padding-top: $header-height;
    overflow: auto;

    .menu-container {
      width: 60px;
      height: calc(100vh - #{$header-height} - #{$footer-height} - #{$menu-gutter * 2});
      top: calc(#{$header-height} + #{$menu-gutter});
      left: -$menu-width;
      background: #17567C;
      border-radius: 10px;
      transition: left 0.3s ease-in-out;
      z-index: 9;

      &.active {
        left: $menu-gutter;

        &+.body-content-wrapper {
          padding-left: calc(#{$menu-width} + #{$menu-gutter} + $body-padding);
        }
      }

      .menu-item {
        background: none;
        border: none;
        font-size: 24px;
        color: #E8EFF3;
        position: relative;

        &.active {
          &:after {
            content: '';
            position: absolute;
            width: 4px;
            height: 100%;
            background: #259FB9;
            right: 0;
          }
        }
      }
    }

    .body-content-wrapper {
      padding: $body-padding;
      transition: padding 0.3s ease-in-out;
    }
  }

  .footer-container {
    height: $footer-height;
    background-color: #F9F9F9;
    box-shadow: 0px -2px 6px 0px #0000001A;
  }
}