.accordion {
  .accordion-item {
    .accordion-header {
      .accordion-button {
        box-shadow: none;

        &::after {
          display: none;
        }
      }

      .accordion-checkbox {
        width: 24px;
        height: 24px;

        &:checked {
          background-color: #17567C;
        }
      }
    }

    .accordion-collapse {
      border-top: 1px solid rgb(222, 226, 230);

      .accordion-body {
        table {
          table-layout: fixed;

          tbody {
            tr {
              &:last-child {
                td {
                  border: none;
                }
              }

              td.table-content {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              input:disabled {
                cursor: not-allowed;
              }

              &.no-fields-row:not(:first-child) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}