.create-scenario-container {
  .create-scenario-heading {
    font-weight: 300;
    font-size: 32px;
  }

  .scenario-list-container {
    #select-all-checkbox {
      width: 24px;
      height: 24px;

      &:checked {
        background-color: #17567C;
      }
    }
  }
}